* {
    font-family: 'Chivo Mono', Arial, sans-serif;
}
body {
    margin: 0;
}

.main {
    background-color: #19202b;
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.calFrame {
    background-color: #0F1013;
    width: 500px;
    height: 700px;
}
#screen {
    text-align: right;
    background-color: #D7DACE;
    margin: 12px;
    height: 90px;
}
#btns {
    display: flex;
    height: 500px;
}
#nums {
    display: grid;
    height: 450px;
    width: 350px;
    grid-gap: 12px;
    margin: 50px 25px 0px 15px;
    font-size: 65px;
    text-align: center;
}
#operations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    width: 100px;
    margin-top: 50px;
    font-size: 65px;
    text-align: center;
}