* {
    font-family: 'Chivo Mono', Arial, sans-serif;
    /* border: dashed 1px red; */
}
body {
    margin: 0;
}
.main {
    background-color: #79a1e2;
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.calFrame {
    background-color: #0F1013;
    border-radius: 12px;
    width: 340px;
    height: auto;
    padding-bottom: 15px;
}
#output {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}
#input{
    margin: 0px;
    margin-bottom: 13px;
}
#screen {
    text-align: left;
    font-size: 30px;
    background-color: #D7DACE;
    margin: 12px;
    padding: 11px;
    height: 90px;
    display: flex;
    flex-direction: column;
}
#btns {
    display: flex;
    flex-direction: column;
    font-size: 45px;
    padding: 10px;
    margin-left: 20px;
}
#btns #key {
    border: 0;
    box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.1), 3px 3px 12px rgba(0, 0, 0, 0.2);
    margin: 5px 3px 5px 3px;
    width: 50px;
    height: 50px;
    border-radius: 12.8px;
    background-color: #0f1013;
    color: #F3FAE1;
}
#btns #zero {
    border: 0;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 12px rgba(0, 0, 0, 0.2);
    margin: 7px;
    width: 110px;
    height: 50px;
    border-radius: 12.8px;
    background-color: #0f1013;
    color: #F3FAE1;
}
#btns #key:hover {
    transition: all 450ms ease;
    transform: scale(1.1);
}
#btns #zero:hover {
    transition: all 450ms ease;
    transform: scale(1.08);
}